html,body{
	height: 100%;
}


/* cover */ 
#cover {
	background: #222 url('../img/stars.jpg')center center no-repeat;
	background-size: cover;
	color: white;
	height: 100%;
	text-align: center;
	align-items: center;
    justify-content: space-around;
    display: flex;

}

#cover-caption {
    width: 100%;
}

.section-content {
    padding: 5rem 0;
}

#what-we-do{
	background: #ccc;
}

#about {
    background: url('../img/girlincar.jpg') center center no-repeat;
    background-size: cover;
}

.about-text {
    background: rgba(0,0,0,0.8);
    color: white;
    padding: 1.875rem;
}

#news{
	background: #ccc;
}

#footer-main {
    background: #777;
    color: #bbb;
    font-size: 0.8rem;
    padding: 2.5rem 0;
}
#footer-main a{
	text-decoration: none;
	color: #fff;
}
#footer-main .list-group-item{
	background: #777;
}